desktop-notifier
filetype
gallery-dl
get-video-properties
# git+https://github.com/Zulko/moviepy.git # The current version v1.0.3 has a bug with to_soundarray
imageio
moviepy
pillow
pygame
pypresence
pystray
python-vlc
requests
screeninfo
sounddevice
ttkwidgets
voluptuous
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
